<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>

    {{#facets.webscripts}}<bean id="webscript.{{packageName}}.{{name}}.get"
          class="{{packageName}}.{{applicationName}}Webscript"
          parent="webscript">
    </bean>{{/facets.webscripts}}

</beans>