plugins {
    id "eu.xenit.alfresco" version "0.1.5"{{#amp}}
    id "eu.xenit.amp" version "0.1.5"{{/amp}}
}

group rootProject.group
version = rootProject.version
description = "{{applicationName}} Alfresco Repository"

repositories {
    mavenCentral()

    // alfrescoPublic()
    maven {
        url "https://artifacts.alfresco.com/nexus/content/groups/public/"
    }
}

dependencies {
    alfrescoProvided "org.alfresco:alfresco-repository:${alfrescoVersion}"
}