plugins {
    id 'eu.xenit.docker-alfresco' version '4.0.3'
}


group = '{{groupId}}'
version = '{{version}}'

// version = '0.0.1' + System.env.BRANCH_NAME?.startsWith("release") ? '' : '-SNAPSHOT'

// ext.deVersion = '1.7.6'
    ext {
        alfresco.version = '5.2.4'
    }


dependencies {
    // alfrescoAmp "eu.xenit:alfresco-dynamic-extensions-repo:${deVersion}@amp"
    // alfrescoDE project(path: ':example-de')
    alfrescoAmp project(path: ':{{name}}-repo', configuration: 'amp')
    baseAlfrescoWar "org.alfresco:alfresco-enterprise:${alfrescoVersion}@war"
}

dockerAlfresco {
    baseImage = "hub.xenit.eu/alfresco-enterprise:${alfrescoVersion}"
    leanImage = true

    dockerBuild {
        repository = "hub.xenit.eu/sample-gradle-alfresco"
        automaticTags = true
    }
}
